body { 
    margin: 0; 
    overflow: hidden; 
}

#info-box {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

#compass {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}
